In [2]:
import pyodbc
import pandas as pd

In [3]:
pyodbc.drivers()

[]

In [11]:
cnx = pyodbc.connect(
    server="202.21.32.26",
    database="Hid-e_Testing",
    user='DbView',
    tds_version='7.4',
    password="Welcome2020",
    port=1433,
    driver='FreeTDS'
)
cursor = cnx.cursor()
cursor.execute('SELECT * FROM dbo.BD_CountryPortMaster')

for row in cursor:
    print(row)

(1, 'AE', 'Jebel Ali', 'Jebel Ali', 1, datetime.datetime(2019, 12, 4, 12, 37, 39, 153000))
(2, 'US', 'TBA', 'TBA', 1, datetime.datetime(2019, 12, 4, 12, 37, 56, 760000))
(3, 'AU', 'Sydney', 'Sydney', 1, datetime.datetime(2019, 12, 4, 12, 38, 8, 413000))
(4, 'IN', 'Petrapole', 'Petrapole', 1, datetime.datetime(2019, 12, 4, 12, 38, 18, 120000))
(5, 'ZA', 'Cape Town', 'Cape Town', 1, datetime.datetime(2019, 12, 4, 12, 38, 32, 827000))
(6, 'US', 'New York', 'New York', 1, datetime.datetime(2019, 12, 4, 12, 38, 46, 633000))
(7, 'US', 'Los Angeles', 'Los Angeles', 1, datetime.datetime(2019, 12, 4, 12, 38, 55, 870000))
(8, 'GB', 'London', 'London', 1, datetime.datetime(2019, 12, 4, 12, 39, 10, 593000))
(9, 'BD', 'Chittagong', 'Chittagong', 1, datetime.datetime(2019, 12, 4, 12, 39, 19, 787000))
(10, 'BD', 'Dhaka', 'Dhaka', 1, datetime.datetime(2019, 12, 4, 12, 39, 26, 447000))
(11, 'NL', 'Seattle', 'Seattle', 1, datetime.datetime(2019, 12, 10, 16, 24, 57, 543000))

In [8]:
conn = pyodbc.connect('DSN=MYMSSQL;UID=DbView;PWD=Welcome2020')
crsr = conn.cursor()
rows = crsr.execute("select @@VERSION").fetchall()
print(rows)
crsr.close()
conn.close()

[('Microsoft SQL Server 2017 (RTM) - 14.0.1000.169 (X64) \n\tAug 22 2017 17:04:49 \n\tCopyright (C) 2017 Microsoft Corporation\n\tWeb Edition (64-bit) on Windows Server 2012 R2 Standard 6.3 <X64> (Build 9600: ) (Hypervisor)\n', )]