In [1]:
import sqlite3
import pandas as pd

In [33]:
conn =sqlite3.connect('/Users/nagarajugooty/SQLLITE_DB')

In [34]:
cursor=conn.cursor()

In [35]:
conn.execute('create table Nag (id number, name text);')

In [36]:
conn.execute('insert into Nag values(1,"nag");')
conn.commit()

In [37]:
cursor.execute('select * from Nag;')
for row in cursor:
    print(row)

(1, 'nag')

In [38]:
data=conn.execute('select * from Artist;')

OperationalError: no such table: Artist